body {
    font-family: Arial, sans-serif;
    background: #1A1651;
    text-align: center;
    padding: 30px;
}
h1 {
    color: #58b9b9b4; 
}
.play-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff9ad5, #b388ff);
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.play-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}
.volumen {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.volumen span {
    font-size: 18px;
    color: white;
}

#volumen {
    width: 120px;
    appearance: none;
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff9ad5, #b388ff);
    cursor: pointer;
}

/* Circul */
#volumen::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.progreso {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    color: white;
    font-size: 14px;
}

#barra {
    width: 260px;
    appearance: none;
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff9ad5, #b388ff);
    cursor: pointer;
}

/* Circulito */
#barra::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.nav-horizontal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(18, 15, 63, 0.8);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    z-index: 10000;
    transition: transform 0.4s ease;
}

/* Ocultar */
.nav-horizontal.oculto {
    transform: translateY(-100%);

.nav-horizontal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    gap: 80px;
}}
.nav-horizontal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    padding: 5px 0;
}

/* Subrayado animado */
.nav-horizontal a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 3px;
    background: #ff9ad5;
    border-radius: 10px;
    transition: width 0.3s ease;
}

/* Hover */
.nav-horizontal a:hover::after {
    width: 100%;
}


.corazon-wrap {
    position: fixed;
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
}

/* Posición */
.corazon-izq {
    width: 82px;
    left: 90px;
    top: calc(30% - 120px);
}

.corazon-der {
    width: 82px;
    right: 90px;
    top: calc(30% - 120px);
}

/* Visible   flotar */
.corazon-visible {
    opacity: 1;
    animation: flotar 3s infinite ease-in-out;
}

.corazon {
    width: 32px;
    animation: latido 1.6s infinite ease-in-out;
}

/*  Latido */
@keyframes latido {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

/*  Flotar */
@keyframes flotar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}



audio {
    margin: 20px 0;
}

.letra {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.linea {
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
    font-size: 18px;
    margin: 15px 0;
    transform: translateY(10px);
}

.visible {
    opacity: 0.4;
    transform: translateY(0);
}

.activa {
    opacity: 1;
    color: #e60073;
    font-weight: bold;
    font-size: 20px;
}
.contenedor-letra {
    max-width: 600px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    background: white;
    padding: 20px;
    border-radius: 20px;
}
.gif-lado {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 1;
      pointer-events: none;

}
.gif-visible {
    opacity: 1;

}
.gif-izq {
    left: 50px;
}

.gif-der {
    right: 50px;
}



@media (max-width: 600px) {
    .contenedor-letra {
        max-width: 90%;
        height: 180px;
    }
}
@media (max-width: 768px) {
    .gif-lado {
        display: none;
    }
}
@media (max-width: 600px) {
    .nav-horizontal {
        gap: 20px;
        font-size: 14px;
        flex-wrap: wrap;
    }
}



